@page "/changepassword"
@inherits ChangePasswordBase

<MudCard>
    <MudCardHeader>
        <MudText Typo="Typo.h6">Alterar Senha</MudText>
    </MudCardHeader>
    <MudCardContent>
        <MudItem xs="12">
            <MudTextField @bind-Value="ChangePassword.OldPasswordHash" Label="Senha Atual" Required="true" InputType="InputType.Password" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField @bind-Value="ChangePassword.NewPassword" Label="Nova Senha" Required="true" InputType="InputType.Password" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField @bind-Value="ConfirmPassword" Label="Confirmar Senha" Required="true" InputType="InputType.Password" />
        </MudItem>
        <MudItem xs="12">
  
            @if (ChangePassword.NewPassword == ConfirmPassword && !string.IsNullOrEmpty(ChangePassword.NewPassword))
            {
                <MudText Color="Color.Success">A nova senha deve combinar com a confirmação</MudText>                        
            }
            else
            {
                <MudText Color="Color.Error">A nova senha deve combinar com a confirmação.</MudText>
            }

            @if (ChangePassword.NewPassword.Length >= 8 && ChangePassword.NewPassword.Length <= 30)
            {
                <MudText Color="Color.Success">A senha deve conter no mínimo 8 e no máximo 30 caracteres.</MudText>
            }
            else
            {
                <MudText Color="Color.Error">A senha deve conter no mínimo 8 e no máximo 30 caracteres.</MudText>
            }

            @if (ValidateNumbers(ChangePassword.NewPassword))
            {
                <MudText Color="Color.Success"> A senha deve conter números.</MudText>
            }
            else
            {
                <MudText Color="Color.Error">A senha deve conter números.</MudText>
            }

            @if (ValidateLetters(ChangePassword.NewPassword))
            {
                <MudText Color="Color.Success">A senha deve conter letras.</MudText>
            }
            else
            {
                <MudText Color="Color.Error">A senha deve conter letras.</MudText>
            }

            @if (ValidateUpperCase(ChangePassword.NewPassword))
            {
                <MudText Color="Color.Success">A senha deve conter ao menos uma letra maiúscula.</MudText>
            }
            else
            {
                <MudText Color="Color.Error">A senha deve conter ao menos uma letra maiúscula.</MudText>
            }

            @if (ValidateEspecialChars(ChangePassword.NewPassword))
            {
                <MudText Color="Color.Success">A senha deve conter ao menos um caractere especial.</MudText>
            }
            else
            {
                <MudText Color="Color.Error">A senha deve conter ao menos um caractere especial.</MudText>
            }
        </MudItem>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="MudBlazor.Variant.Filled" Color="Color.Primary" OnClick="ExecuteChange">Alterar Senha</MudButton>
        <MudPopover Open="@ShowMessage" Fixed="true" Class="px-4 pt-4">
            <div class="d-flex flex-column">
                <MudText>@Message</MudText>
                <MudButton OnClick="@(() => @ShowMessage = false)" Class="ml-auto mr-n3 mb-1" Color="Color.Error">Close</MudButton>
            </div>
        </MudPopover>
    </MudCardActions>
</MudCard>

